body {
    margin: 0;
    background-color: #000000;
}

canvas {
    display: block;
    height: 100vh;
    width: 100vw;

    aspect-ratio: 224 / 288;

    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
}
