body {
    margin: 0;
    background-color: #000000;
}

canvas {
    display: block;
    object-fit: contain;
    flex-grow: 1;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
}